* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  h1 {
    text-align: left;
      margin-top: 0;
      font-size: 22px;  
  }
  
  h2 {
    text-align: center;
      margin-top: 0;
      font-size: 22px;  
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
    color: red;
  }
  p {
    text-align: left;
    font-size: 15px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-inline-start: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
.piano {
  display: flex;
}

.key {
  width: 60px; 
  height: 200px; 
  margin: 5px; 
  background-color: white; 
  border: 1px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.key.black {
  background-color: black; 
  color: white;
  width: 40px; 
  height: 150px; 
  position: relative;
  z-index: 1;
  margin: 5px 0;
}

.key.pressed {
  width: 60px; 
  height: 200px; 
  margin: 5px; 
  background-color: blue; 
  border: 1px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.key.black.pressed {
  background-color: blue; 
  color: white;
  width: 40px; 
  height: 150px; 
  position: relative;
  z-index: 1;
  margin: 5px 0;
}

  